In [1]:
#@title MIT License
#
# Copyright (c) 2020 Balázs Pintér 
#
# Permission is hereby granted, free of charge, to any person obtaining a
# copy of this software and associated documentation files (the "Software"),
# to deal in the Software without restriction, including without limitation
# the rights to use, copy, modify, merge, publish, distribute, sublicense,
# and/or sell copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
# DEALINGS IN THE SOFTWARE.

# Jupyter notebook basics

We are going to use both Jupyter notebooks and plain Python code.

- This is a markdown cell, the next ones are code cells
- The notebook is running a kernel (here, Python), the code cells are executed by this kernel
- Very useful to do any command or check shortcuts: Ctrl-Shift-C (p in earlier versions)
- Move around: arrow keys or j, k
- Run a cell and go to next cell: Shift+Enter
- Go to edit mode to edit a cell: click or Enter
- Get help about while editing: Shift-Tab, press twice to get more help
- Back to command mode from edit mode: Esc
- New cell above: a
- New cell below: b
- Delete cell: x
- Run a cell and insert new cell below: Alt-Enter

# Python crash course
Tutorial for reference: https://docs.python.org/3/tutorial/index.html

## Variables and types

Python is dynamically typed. The types belong to the objects and not their names.

For example, `a = 3` assigns the object `3` to the name `a`. The name `a` will reference the object `3` from now on.

`a` can be freely reassigned later.

In [2]:
a = 3 # int
a = True # bool
a = 4.2 # float

Python is strongly typed. For example, `'abc' + 3` would give an error.

## Sequence types

In [5]:
a = 'abc' # str
b = [1, 2, 3, 4, 5] # list
c = (1, 2, 3, 4) # tuple

Tuples are denoted by the comma. Multiple assignment is possible with tuples:

In [6]:
a, b = 'abcdef', [1, 2, 3]

In [7]:
a, b

('abcdef', [1, 2, 3])

Strings and tuples are immutable: `a[0] = 'x'` gives an error.

In [8]:
l = [1, 'afgd', True] # lists can have different types in them, although usually they don't

### Some operations

In [9]:
a[0], b[1] # indexing starts from 0

('a', 2)

In [10]:
a[:3] # slicing, up to but not including index 3

'abc'

In [11]:
a[3:] # slicing from index 3

'def'

In [12]:
a + 'aa' # concatenation

'abcdefaa'

In [14]:
a[:3] + a[3:] # gives back the original sequence

'abcdef'

In [15]:
a[1:3] # from index 1 to 3

'bc'

In [16]:
a[-1] # the last element

'f'

In [17]:
a[-2]

'e'

In [18]:
len(a), len(b), len(c) # lengths

(6, 3, 4)

In [19]:
# appending to a list
print(b)
b.append(34)
print(b)

[1, 2, 3]
[1, 2, 3, 34]

In [21]:
# popping elements from a list
print(b)
b.pop(0)
print(b)
b.pop()
print(b)

[2, 3]
[3]
[]

## Some expressions and statements

In [22]:
3 + 4, 3 * 4

(7, 12)

In [23]:
a = 2
a += 3
a

5

In [25]:
13 / 4, 13 // 4

(3.25, 3)

In [26]:
3 % 2

1

In [27]:
3 == 4, 3 < 4, 4 < 3

(False, True, False)

In [28]:
3 < 4 < 5

True

In [29]:
3 < 4 and 4 < 5

True

### if, for, while

In [30]:
a = 3
b = 3
if a < b:
    print("The condition is true.")
elif b < a:
    print("The first elif branch.")
else: print("The else branch.")

The else branch.

In [31]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
for e in l:
    print(e)

0
1
2
3
4
5
6
7
8
9

In [37]:
x = 1
while x < 10:
    print(x)
    if x % 3 != 0:
        x += 1
    else:
        x += 3

1
2
3
6
9

**Exercise**: Add all the even numbers in l and print the result.

**Exercise**: Collect all the even numbers in l into a new list l_even.

**Exercise**: Solve the [FizzBuzz problem](https://en.wikipedia.org/wiki/Fizz_buzz)

### break, continue, else

In [49]:
l = list(range(10))
import random
random.shuffle(l)
l

[3, 8, 4, 2, 6, 5, 1, 0, 9, 7]

#### 3 versions of a search

In [54]:
to_find = 8
i = 0
for e in l:
    if e == to_find:
        print(f'Found {to_find} at index {i}')
        break
    i += 1
else:
    print(f'{to_find} was not found in the list')

Found 8 at index 1

In [55]:
list(enumerate(l))

[(0, 3),
 (1, 8),
 (2, 4),
 (3, 2),
 (4, 6),
 (5, 5),
 (6, 1),
 (7, 0),
 (8, 9),
 (9, 7)]

In [57]:
to_find = 8
for i, e in enumerate(l):
    if e == to_find:
        print(f'Found {to_find} at index {i}')
        break
else:
    print(f'{to_find} was not found in the list')

Found 8 at index 1

In [60]:
to_find = 8
print(f'Found {to_find} at index {l.index(to_find)}') # we would have to handle the exception if the element is not in the list

81 not found.

#### continue

In [61]:
for i in range(10):
    if i % 3 != 0:
        continue
    print(i)

0
3
6
9

**Exercise**: Find the largest even number in l

In [62]:
l = list(range(20))
random.shuffle(l)
l

[9, 19, 13, 8, 14, 6, 2, 15, 7, 1, 3, 10, 18, 17, 12, 4, 16, 0, 11, 5]

## List comprehensions

In [76]:
[x**2 for x in range(5)]

[0, 1, 4, 9, 16, 4, 5, 8, 13, 20, 16, 17, 20, 25, 32]

In [77]:
[(x, x**2) for x in range(5)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

In [78]:
[(x, x**2) for x in range(5) if x % 2 == 0]

[(0, 0), (2, 4), (4, 16)]

**Exercise**: write a list comprehension to collect all the strings with length 3

In [79]:
l = ['bacd', 'abc', 'ab', 'a', 'bcd', 'cdef', 'cde']

## Sets and dictionaries

### Sets

In [14]:
a = {1, 2, 3, 4}
a

{1, 2, 3, 4}

In [84]:
a.add(5)
a

{1, 2, 3, 4, 5}

In [85]:
a.add(5)
a

{1, 2, 3, 4, 5}

In [86]:
l = list(range(5)) + list(range(5))
l

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [87]:
set(l)

{0, 1, 2, 3, 4}

In [88]:
3 in a, 13 in a

(True, False)

In [89]:
for e in a:
    print(e)

1
2
3
4
5

**Exercise**: Add the unique elements of l. If you already encountered an element, don't add it to the sum

In [90]:
l = [1, 1, 2, 3, 2, 4, 5, 2, 3]

### Dictionaries

In [3]:
d = {'a' : 1, 'b': 5}
d

{'a': 1, 'b': 5}

In [4]:
d['a']

1

In [5]:
d['c'] = 35

You can assign to any key, but can only access existing keys: `d['d']` would give an error.

In [12]:
for key in d:
    print(key, d[key])

a 1
b 5
c 35

In [13]:
for key, value in d.items():
    print(key, value)

a 1
b 5
c 35

### Set and dictionary comprehensions

In [19]:
{x**2 for x in a if x % 2 == 0}

{0, 1}

In [20]:
d = {x: x**2 for x in range(10) if x%2 == 1}
d

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

**Exercise**: Invert the dictionary d. The keys should be the values, and the values should be the keys.